:host {
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        max-width: 1480px;
        margin-top: 50px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;

        .game-tile {
            margin: 14px;
            position: relative;

            &:hover {
                animation: scale 0.3s forwards;
            }

            .display {
                height: 100%;
                width: auto;
                cursor: pointer;
                overflow: hidden;
                border-radius: 15px;
            }

            .ribbon {
                position: absolute;
                top: -9px;
                right: -15px;

                .ribbon-img {
                    height: 100px;
                    width: auto;
                }

                span {
                    transform: rotate(45deg);
                    color: white;
                    position: absolute;
                    top: 23px;
                    right: 14px;
                    font-size: 22px;
                    text-transform: capitalize;
                }
            }
        }
    }
}
