<div class="container">
    <span class="menu-item"
    *ngFor="let category of gameCategories"
    (click)="setActiveCategory(category)"
    [class.active]="category == activeCategory"
    [innerHTML]="getCategoryName(category)"></span>
</div>

<div class="container phone">
    <span class="menu-bar">
        <span [innerHTML]="getCategoryName(activeCategory)"></span>     
        <div class="btn" (click)="toggleMenu()">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
        </div>
    </span>
    <div class="menu-items" [class.show]="showMenu">
        <span class="menu-item"
        *ngFor="let category of gameCategories"
        (click)="setActiveCategory(category); toggleMenu()"
        [class.active]="category == activeCategory"
        [innerHTML]="getCategoryName(category)"></span>
    </div>
</div>

