/* You can add global styles to this file, and also import other style files */
html {
    margin: 0;
    padding: 0;
    font-family: arial;
    user-select: none; 
    
    body {
        margin: 0;
        padding: 0;

        span {
            display: block;
        }
    }
}

* {
    box-sizing: border-box;
}
